header nav {
  padding: 10px;
  display: flex;
  position: relative;
}
header nav .Xbtn-toggler {
  margin-right: 10px;
  z-index: 10;
}
header nav .manageBar {
  margin-left: 10px;
}
header nav .searchBtn {
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  top: 50%;
  padding: 10px;
  margin-left: 10px;
}

.subjectBar {
  transition: all 0.3s linear;
  transform: translateX(-100%);
  background-color: #1e62a8;
  top: 60px;
  left: 0;
  position: fixed;
  min-width: 200px;
  height: 100%;
  box-shadow: 1px 1px 1px #ced4da;
}
.subjectBar.open {
  transition: all 0.3s linear;
  transform: translateX(0);
}
@media (max-width: 400px) {
  .subjectBar.open {
    width: 100%;
    left: 0;
  }
}
.subjectBar .subjectBar__list {
  list-style-type: none;
  padding: 0px;
}
.subjectBar .subjectBar__list li {
  color: white;
  padding: 20px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.1);
}
.subjectBar .subjectBar__list li:not(:first-child):hover {
  background-color: rgba(0, 0, 0, 0.4);
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}