header nav {
  padding: 10px;
  display: flex;
  position: relative;
}
header nav .Xbtn-toggler {
  margin-right: 10px;
  z-index: 10;
}
header nav .manageBar {
  margin-left: 10px;
}
header nav .searchBtn {
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  top: 50%;
  padding: 10px;
  margin-left: 10px;
}

.Notes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.Notes .Notes__note {
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 0.4em;
}
.Notes .Notes__note p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}