.modalContainer {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modalContainer.open {
  display: block;
}
.modalContainer #noteViewer {
  min-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 0.4em;
}
@media (max-width: 411px) {
  .modalContainer #noteViewer {
    display: flex;
    flex-direction: column;
    left: 0px;
    min-width: 100vw;
    height: 100%;
    transform: translate(0, -50%);
  }
  .modalContainer #noteViewer textarea {
    flex-grow: 1;
  }
}
.modalContainer #noteViewer h3 {
  margin-bottom: 20px;
}
.modalContainer #noteViewer input[type=text] {
  margin-bottom: 10px;
}
.modalContainer #noteViewer textarea {
  resize: vertical;
}
.modalContainer #noteViewer .buttons {
  margin-top: 10px;
  position: relative;
}
.modalContainer #noteViewer .buttons button:last-child {
  position: absolute;
  top: 0;
  right: 0;
}

header nav {
  padding: 10px;
  display: flex;
  position: relative;
}
header nav .Xbtn-toggler {
  margin-right: 10px;
  z-index: 10;
}
header nav .manageBar {
  margin-left: 10px;
}
header nav .searchIcon {
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  top: 50%;
  padding: 10px;
  margin-left: 10px;
}

.Notes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.Notes #noteEditor {
  margin: 10px;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 0.4em;
}
.Notes #noteEditor h3 {
  margin-bottom: 20px;
}
.Notes #noteEditor input[type=text] {
  margin-bottom: 10px;
}
.Notes #noteEditor textarea {
  resize: vertical;
}
.Notes #noteEditor .buttons {
  margin-top: 0.6rem;
}
.Notes .Notes__note {
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 0.4em;
  height: -webkit-min-content;
  height: min-content;
}
.Notes .Notes__note p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
}
.Notes .Notes__note.close {
  display: none;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}