@use "./components/noteViewer.scss";
@use "./components/header.scss";
@use "./components/noteList.scss";

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
