header nav {
  padding: 10px;
  display: flex;
  position: relative;
}
header nav .Xbtn-toggler {
  margin-right: 10px;
  z-index: 10;
}
header nav .manageBar {
  margin-left: 10px;
}
header nav .searchBtn {
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  top: 50%;
  padding: 10px;
  margin-left: 10px;
}

.subjectBar {
  transition: all 0.2s linear;
  transform: translateX(-100%);
  background-color: #1e62a8;
  top: 54px;
  left: 0;
  position: fixed;
  min-width: 200px;
  height: 100%;
  box-shadow: 1px 1px 1px #ced4da;
}
.subjectBar subjectBar.open {
  transition: all 0.2s linear;
  transform: translateX(0);
}
@media (max-width: 400px) {
  .subjectBar subjectBar.open {
    width: 100%;
  }
}
.subjectBar .subjectBar__content {
  list-style-type: none;
  padding: 0px;
}
.subjectBar .subjectBar__content .subjectBar__topIcon {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 50px 10px;
}
.subjectBar .subjectBar__content li {
  color: white;
  padding: 20px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.1);
}